{% extends "layout.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
    <p>
        <a href="{{ path('AddRepositoryRoute') }}">Create repository</a>
    </p>
{% endblock %}
